@import "_styles.scss";

$base-blue: #007D62;
$base-green: #5C5F03;
$base-yellow: #F7B80A;
$base-purple: #C995BE;
$base-light-blue: rgba($base-blue, 0.43);
$base-light-green: rgba($base-green, 0.43);
$base-light-yellow: rgba($base-yellow, 0.43);
$base-light-purple: rgba($base-purple, 0.43);
$base-color: rgba(46, 79, 87, 1);

@font-face {
  font-family: "Poppins";
  src: url("../src/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

html,body {
  height: 100%;
  min-height: 100% !important;
  --bs-body-color: $base-color;
  --bs-btn-active-color:$base-color;
  --bs-btn-active-bg:#fff;
  --bs-body-font-family:"Poppins", Verdana, Tahoma;
  --bs-btn-font-size:1.2rem;

}


.pb-6{
  padding-bottom: 6rem !important;
}

.circle{
  position: absolute;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  border-radius: 50%;
  display: inline-block;
}

.bg-green{
  background:$base-green;
}
.bg-light-green{
  background:$base-light-green;
}
.bg-purple{
  background:$base-purple;
}
.bg-light-purple{
  background:$base-light-purple;
}
.bg-yellow{
  background:$base-yellow;
}
.bg-light-yellow{
  background:$base-light-yellow;
}
.bg-blue{
  background:$base-blue;
}
.bg-light-blue{
  background:$base-light-blue;
}

.noise {
  opacity: 0.3;
  background: url("../src/images/noise.png"), lightgray 0% 0% / 100px 100px repeat;
  mix-blend-mode: overlay;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.h-65{
height:65% !important;
}
#home_carousel_container{
  position: absolute;
  height:100%;
  width:100%;
  z-index:-10000;
}
#home_carousel_container #back-circles{
  position: absolute;
  height:100%;
  width:100%;
}
.home-text-container{
  //position: absolute;
  bottom: 10%;
  border: 1px solid #2e4f57;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.home-text{
  border-radius: 15px;
}



.carousel_illustration_container{
  position: absolute;
  top:0;
  right:0;
  .noise{
    border-radius: 50%;
  }
}
.carousel-illustration{
  position:relative;
  height: 100%;
  width: 100%;
}
#carousel_links_container{
  li{
    a{
      color:#f00;
      cursor: pointer;
      display: block;
      height: 7rem;
      position:relative;
    }
  }
}

.btn, .btn:focus-visible, .btn:active {
  color:$base-color;
  background-color:#fff;
  --bs-border-radius:0.575rem;
}

.btn .icon {
  font-size: 48px;
  border: 1px solid $base-color;
  border-radius: 1em;
  width: 1em;
  height: 1em;
  display: block;
  position: relative;
  float: left;
  transition-behavior: normal, normal, normal, normal;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-property: color, background-color, border-color, box-shadow;
  color: #fff;
  background-color: $base-color;
}
.btn {
  --bs-btn-font-size: 1.2rem;
  --bs-border-radius:1rem;
  border:1px solid $base-color;
  &:hover {
    border:1px solid $base-color;
    color: $base-color;
    background-color: #fff;
    .icon {
      color: $base-color;
      background-color: #fff;
    }
  }
}
.btn-txt {
  float: left;
  display: inline-block;
  text-align: center;
  line-height: 2.6em;
  margin-right: 10px;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  position: absolute;
  top:-1px;
  left: -1px;
  margin: 0;
  width: 1em;
  height: 1em;
}

@include media-breakpoint-up(lg) {
  .home-text{
    border: 1px solid #2e4f57;
  }
  #main {
    height: 100% !important;
  }
  #home-container{
    height: 75% !important;
  }
  .home-text-container{
    overflow: hidden;
  }
}